 /* .container {
    display:flex;
}  */

.criminalsContainer {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    
}

.card {
    flex-basis:25%;
    border: .5px black dotted;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 2rem;
    padding: .5rem;
    
}

h3 {
    font-family: 'Libre Baskerville', serif;
}

.criminalList {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid black;
    padding:2rem;
    
    
}

.officerList {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.filters {
    display:flex;
    justify-content: space-evenly;
    padding: 1rem;
    align-items: baseline;
    flex-wrap: nowrap;
}

header {
    margin-bottom: 1rem;
}

.lists {
    display:flex;
}

.noteListContainer {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.display-container {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

/* .note {
    flex-basis:26%;
    border: .5px black dotted;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 2rem;
    padding: .5rem;
} */

.noteFormContainer {
    display:flex;
    justify-content: space-around;
    flex:1;
    border: 1px black solid;
    background-color: aliceblue;
    margin-bottom: 1rem;
}

#noteForm {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    padding:1rem;
    
    
}

input,
textarea {
    margin-bottom: 1rem;
}

.crimheading {
   text-align: center;
}

.filters__crime {
    flex-basis:33%;
}

.filters__officer {
    flex-basis:33%;

}

.noteListButton {
    flex-basis:33%;

}